
html {
    background: #9391a359;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 10px;
}

.scores{
    display: flex;
    padding: 0px 0px 20px 0px;
}

.scores h3{
    text-align: center;
    margin: 0;
}

.indScore{
    width: 50px;
    height: 50px;
    border: 5px solid rgb(27, 27, 31);
    border-radius: 20%;
    margin: 20px 3px 5px 3px;
    font-weight: bolder;
    background-color: rgb(61, 59, 59);
    color: white;
    text-align: center;
    font-size: xx-large;
}

.buttons button{
    border-radius: 50%;
    border: none;
    background-color: #9391a359;
}

.buttons button:hover{
    cursor: pointer;
    background-color: rgb(148, 147, 147);
}

.buttons img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#oneRoundResult{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(27, 27, 31);
    border-radius: 5%;
    width: 300px;
    height: 50px;
    background-color: rgb(61, 59, 59);
    text-align: center;
    font-weight: bolder;
    color: white;
    font-size: 20px;
}
.reset{
    width: 200px;
    height: 50px;
    border: 5px solid rgb(27, 27, 31);
    border-radius: 5%;
    background-color: rgb(61, 59, 59);
    color: white;
    font-size: medium;
    margin-top: 15px;
}

.reset:hover{
    background-color: rgb(124, 124, 124);
}


